body {
	font-family: sans-serif; 
	background: #FFFFFF;
}

th {
	background: #333333;
	color: #FFFFFF;
	padding: 0.5em;
}

td {
	background: #CCCCCC;
	padding: 0.5em;
}

table {
	margin-left: auto;
	margin-right: auto;
}


