<html>
  <head>
    {% if title %}
    <title>Golden - {{ title }}</title>
    {% else %}
    <title>Golden - a public sequence data management system</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>

    <div id="header">
      <!-- Put some header stuff here -->
      <p>This is a header</p>
    </div>

    <div id="content">
    {% block content %}{% endblock content %}
    </div>


    <div id="footer">
      <!-- Put some footer stuff here -->
      <p>This is a footer</p>
    </div>

  </body>


</html>
