<html>
  <head>
    {% if title %}
    <title>Golden - {{ title }}</title>
    {% else %}
    <title>Golden - a public sequence data management system</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <!-- Put some header stuff here -->
      <h1>Golden Retriever - Public Sequence Management</h1>
    </div>


    <div class="toolbar">
      <ul>
	<li><a href="{{ url_for('index') }}">Home</a></li>
	<li><a href="{{ url_for('index') }}">Search</a></li>
	<li><a href="{{ url_for('add') }}">Add New</a></li>
      </ul>
    </div>

    <div class="content">
    {% block content %}{% endblock content %}
    </div>


    <div class="footer">
      <!-- Put some footer stuff here -->
      <p>Golden version 0.1.devel - Any problems, contact Simon Andrews</p>
    </div>

  </body>


</html>
